<h3>Editing the <span class="job_highlight">{{ job.last_name }}, {{ job.first_name }}</span> Job</h3>

<br />

<job_sub_nav></job_sub_nav>

<ul class="nav nav-pills" id="fnol_tabs">
  <li class="active"><a href="#contact_information"  data-toggle="tab">Contact Information</a></li>
  <li><a href="#job_details"  data-toggle="tab">Job Details</a></li>
  <li><a href="#site_assessment"  data-toggle="tab">Site Assessment</a></li>
  <li><a href="#client"  data-toggle="tab">Client</a></li>
  <li><a href="#related_contacts"  data-toggle="tab">Related Contacts</a></li>
</ul>
 
<div class="tab-content">

	<div class="tab-pane active" id="contact_information">
		
		<div class="contact_boxes" >
			<div>
				<h4 class="pull-left">Caller Details</h4>
				<a class="pull-right btn" ng-click="editCaller()">
					<i class="icon-edit"></i>
				</a>
				<div style="clear: both"></div>
			</div>
			<div ng-hide="isCallerEditable">
				<p>First Name: {{ caller.first_name }}</p>
				<p>Last Name: {{ caller.last_name }}</p>
				<p>Company: {{ caller.company_name }}</p>
				<p>Phone Number:  {{ caller.phone_numbers.primary }}</p>
			</div>
			
			
			<div id="caller_edit" ng-show="isCallerEditable">
				<label>First Name</label>
				<input type="text" value="{{ caller.first_name }}" />
				
				<label>Last Name</label>
				<input type="text" value="{{ caller.last_name }}" />
				
				<label>Company Name</label>
				<input type="text" value="{{ caller.company_name }}" />
				
				<label>Phone Number</label>
				<input type="text" value="{{ caller.phone_numbers.primary }}" />
				
				<label>Address</label>
				<input type="text" value="{{ caller.address }}" />
				
				<label>City</label>
				<input type="text" value="{{ caller.city }}" />
				
				<label>State</label>
				<input type="text" value="{{ caller.state }}" />
				
				<div>
					<a class="btn btn-large" ng-click="cancelCallerEdits()">Cancel</a>
					<a class="btn btn-large btn-primary" ng-click="saveCallerEdits()">Save Caller</a>
				</div>
			</div>
			
			
		</div>	
		<div class="contact_boxes">			
			
			<div>
				<h4 class="pull-left">Customer / Insured</h4>
				<a class="pull-right btn" ng-click="editCustomer()">
					<i class="icon-edit"></i>
				</a>
				<div style="clear: both"></div>
			</div>
			<div ng-hide="isCustomerEditable">
				<p>First Name: {{ customer.first_name }}</p>
				<p>Last Name: {{ customer.last_name }}</p>
				<p>Company: {{ customer.company_name }}</p>
				<p>Phone Number:  {{ customer.phone_numbers.primary }}</p>
			</div>
			
			<div id="customer" ng-show="isCustomerEditable">
				<label>First Name</label>
				<input type="text" value="{{ customer.first_name }}" />
				
				<label>Last Name</label>
				<input type="text" value="{{ customer.last_name }}" />
				
				<label>Company Name</label>
				<input type="text" value="{{ customer.company_name }}" />
				
				<label>Phone Number</label>
				<input type="text" value="{{ customer.phone_numbers.primary }}" />
				
				<label>Address</label>
				<input type="text" value="{{ customer.address }}" />
				
				<label>City</label>
				<input type="text" value="{{ customer.city }}" />
				
				<label>State</label>
				<input type="text" value="{{ customer.state }}" />
				
				<div>
					<a class="btn btn-large" ng-click="cancelCustomerEdits()">Cancel</a>
					<a class="btn btn-large btn-primary" ng-click="saveCustomerEdits()">Save Caller</a>
				</div>
				
			</div>
			
			
		</div>	
		
		<div class="contact_boxes">
			<h4>Occupant</h4>
			
			<div id="occupant" ng-show="isOccupantEditable">
				<label>First Name</label>
				<input type="text" value="{{ occupant.first_name }}" />
				
				<label>Last Name</label>
				<input type="text" value="{{ occupant.last_name }}" />
				
				<label>Company Name</label>
				<input type="text" value="{{ occupant.company_name }}" />
				
				<label>Phone Number</label>
				<input type="text" value="{{ occupant.phone_numbers.primary }}" />
				
				<label>Address</label>
				<input type="text" value="{{ occupant.address }}" />
				
				<label>City</label>
				<input type="text" value="{{ occupant.city }}" />
				
				<label>State</label>
				<input type="text" value="{{ occupant.state }}" />
			</div>
		</div>
		
	
	
	</div>
	<div class="tab-pane" id="job_details">
		Job Details here
	</div>
	<div class="tab-pane" id="site_assessment">
		Site Assessment here
	</div>
	<div class="tab-pane" id="client">
		Client here
	</div>
	<div class="tab-pane" id="related_contacts">
		Related Contacts here
	</div>



</div> <!-- End Tabs Container -->