<h3>Editing the <span class="job_highlight">{{ job.last_name }}, {{ job.first_name }}</span> Job</h3>

<br />

<job_sub_nav></job_sub_nav>

<ul class="nav nav-pills" id="fnol_tabs">
  <li class="active"><a href="#contact_information"  data-toggle="tab">Contact Information</a></li>
  <li><a href="#job_details"  data-toggle="tab">Job Details</a></li>
  <li><a href="#site_assessment"  data-toggle="tab">Site Assessment</a></li>
  <li><a href="#client"  data-toggle="tab">Client</a></li>
  <li><a href="#related_contacts"  data-toggle="tab">Related Contacts</a></li>
</ul>
 
<div class="tab-content">

	<div class="tab-pane active" id="contact_information">
		
		<div class="contact_boxes">
			<h4>Caller Details</h4>
			
			<div id="caller">
				<label>First Name</label>
				<input type="text" value="{{ job.first_name }}" />
				
				<label>Last Name</label>
				<input type="text" value="{{ job.last_name }}" />
			</div>
			
			
		</div>	
		
		
	
	
	
	</div>
	<div class="tab-pane" id="job_details">
		Job Details here
	</div>
	<div class="tab-pane" id="site_assessment">
		Site Assessment here
	</div>
	<div class="tab-pane" id="client">
		Client here
	</div>
	<div class="tab-pane" id="related_contacts">
		Related Contacts here
	</div>



</div> <!-- End Tabs Container -->