<h3>Editing the <span class="job_highlight">{{ job.last_name }}, {{ job.first_name }}</span> Job</h3>

<br />

<job_sub_nav></job_sub_nav>

<ul class="nav nav-pills" id="fnol_tabs">
  <li class="active"><a href="#contact_information"  data-toggle="tab">Contact Information</a></li>
  <li><a href="#job_details"  data-toggle="tab">Job Details</a></li>
  <li><a href="#site_assessment"  data-toggle="tab">Site Assessment</a></li>
  <li><a href="#client"  data-toggle="tab">Client</a></li>
  <li><a href="#related_contacts"  data-toggle="tab">Related Contacts</a></li>
</ul>
 
<div class="tab-content">

	<div class="tab-pane active" id="contact_information">
		
		
		<div class="row"> <!-- Row Start -->		
			<div class="contact_boxes span6" >
				<div class="contact_header">
					<h4 class="pull-left">Caller Details</h4>
					<a class="pull-right btn" ng-click="editCaller()">
						<i class="icon-edit"></i>
					</a>
					<div style="clear: both"></div>
				</div>
				<div id="caller_view" class="contact_view" ng-hide="isCallerEditable">
					<div class="row">
						<div class="view_group">
							<span class="fnol_label span2 pull-left">First Name:</span> 
							<span class="fnol_data">{{ caller.first_name }}</span>
						</div>
					</div>
					
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Last Name:</span> 
							<span class="fnol_data">{{ caller.last_name }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Company:</span> 
							<span class="fnol_data">{{ caller.company_name }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Phone:</span> 
							<span class="fnol_data">{{ caller.phone_numbers.primary }}</span>
						</div>
					</div>
				</div>
				
				
				<div id="caller_edit" class="contact_edit" ng-show="isCallerEditable">
					<label>First Name</label>
					<input type="text" ng-model="callerFirstName"/>
					
					<label>Last Name</label>
					<input type="text" value="{{ caller.last_name }}" />
					
					<label>Company Name</label>
					<input type="text" value="{{ caller.company_name }}" />
					
					<label>Phone Number</label>
					<input type="text" value="{{ caller.phone_numbers.primary }}" />
					
					<label>Address</label>
					<input type="text" value="{{ caller.address }}" />
					
					<label>City</label>
					<input type="text" value="{{ caller.city }}" />
					
					<label>State</label>
					<input type="text" value="{{ caller.state }}" />
					
					<div>
						<a class="btn" ng-click="cancelCallerEdits()">Cancel</a>
						<a class="btn btn-primary" ng-click="saveCallerEdits()">Save Caller</a>
					</div>
				</div>
				
				
			</div>	
			<div class="contact_boxes span6 pull-right">			
				
				<div class="contact_header">
					<h4 class="pull-left">Customer / Insured</h4>
					<a class="pull-right btn" ng-click="editCustomer()">
						<i class="icon-edit"></i>
					</a>
					<div style="clear: both"></div>
				</div>
				<div id="customer_view" class="contact_view" ng-hide="isCustomerEditable">
					<div class="row">
						<div class="view_group">
							<span class="fnol_label span2 pull-left">First Name:</span> 
							<span class="fnol_data">{{ customer.first_name }}</span>
						</div>
					</div>
					
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Last Name:</span> 
							<span class="fnol_data">{{ customer.last_name }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Company:</span> 
							<span class="fnol_data">{{ customer.company_name }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Phone:</span> 
							<span class="fnol_data">{{ customer.phone_numbers.primary }}</span>
						</div>
					</div>
				</div>
				
				<div id="customer_edit" class="contact_edit" ng-show="isCustomerEditable">
					<label>First Name</label>
					<input type="text" value="{{ customer.first_name }}" />
					
					<label>Last Name</label>
					<input type="text" value="{{ customer.last_name }}" />
					
					<label>Company Name</label>
					<input type="text" value="{{ customer.company_name }}" />
					
					<label>Phone Number</label>
					<input type="text" value="{{ customer.phone_numbers.primary }}" />
					
					<label>Address</label>
					<input type="text" value="{{ customer.address }}" />
					
					<label>City</label>
					<input type="text" value="{{ customer.city }}" />
					
					<label>State</label>
					<input type="text" value="{{ customer.state }}" />
					
					<div>
						<a class="btn" ng-click="cancelCustomerEdits()">Cancel</a>
						<a class="btn btn-primary" ng-click="saveCustomerEdits()">Save Caller</a>
					</div>
					
				</div>				
				
			</div>			
		
		</div> <!-- Row End -->
		
		<div class="row"><!--  Row Start -->		
			<div class="contact_boxes span6">			
				<div class="contact_header">
					<h4 class="pull-left">Occupant</h4>
					<a class="pull-right btn" ng-click="editOccupant()">
						<i class="icon-edit"></i>
					</a>
					<div style="clear: both"></div>
				</div>
				<div id="occupant_view" class="contact_view" ng-hide="isOccupantEditable">
					<div class="row">
						<div class="view_group">
							<span class="fnol_label span2 pull-left">First Name:</span> 
							<span class="fnol_data">{{ occupant.first_name }}</span>
						</div>
					</div>
					
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Last Name:</span> 
							<span class="fnol_data">{{ occupant.last_name }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Company:</span> 
							<span class="fnol_data">{{ occupant.company_name }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Phone:</span> 
							<span class="fnol_data">{{ occupant.phone_numbers.primary }}</span>
						</div>
					</div>
				</div>			
				<div id="occupant_edit" class="contact_edit" ng-show="isOccupantEditable">
					<label>First Name</label>
					<input type="text" value="{{ occupant.first_name }}" />
					
					<label>Last Name</label>
					<input type="text" value="{{ occupant.last_name }}" />
					
					<label>Company Name</label>
					<input type="text" value="{{ occupant.company_name }}" />
					
					<label>Phone Number</label>
					<input type="text" value="{{ occupant.phone_numbers.primary }}" />
					
					<label>Address</label>
					<input type="text" value="{{ occupant.address }}" />
					
					<label>City</label>
					<input type="text" value="{{ occupant.city }}" />
					
					<label>State</label>
					<input type="text" value="{{ occupant.state }}" />
					
					<div>
						<a class="btn" ng-click="cancelOccupantEdits()">Cancel</a>
						<a class="btn btn-primary" ng-click="saveOccupantEdits()">Save Caller</a>
					</div>					
				</div>				
			</div>	
			
			<div class="contact_boxes span6">				
				<div class="contact_header">
					<h4 class="pull-left">Loss Address</h4>
					<a class="pull-right btn" ng-click="editLossAddress()">
						<i class="icon-edit"></i>
					</a>
					<div style="clear: both"></div>
				</div>
				<div id="loss_address_view" class="contact_view" ng-hide="isLossAddressEditable">
					<div class="row">
						<div class="view_group">
							<span class="fnol_label span2 pull-left">Address 1:</span> 
							<span class="fnol_data">{{ loss.address1 }}</span>
						</div>
					</div>
					
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Address 2:</span> 
							<span class="fnol_data">{{ loss.address2 }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">Zip Code:</span> 
							<span class="fnol_data">{{ loss.zip }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">City:</span> 
							<span class="fnol_data">{{ loss.city }}</span>
						</div>
					</div>
					<div class="row">
						<div class="view_group">
							<span class="span2 pull-left fnol_label">State:</span> 
							<span class="fnol_data">{{ loss.state }}</span>
						</div>
					</div>
				</div>				
				<div id="loss_address_edit" class="contact_edit" ng-show="isLossAddressEditable">
					<label>Address 1</label>
					<input type="text" value="{{ loss.address1 }}" />
					
					<label>Address 2</label>
					<input type="text" value="{{ loss.address2 }}" />
					
					<label>Company Name</label>
					<input type="text" value="{{ loss.zip }}" />
					
					<label>City</label>
					<input type="text" value="{{ loss.city }}" />
					
					<label>State</label>
					<input type="text" value="{{ loss.state }}" />			
					
					<div>
						<a class="btn" ng-click="cancelLossAddressEdits()">Cancel</a>
						<a class="btn btn-primary" ng-click="saveLossAddressEdits()">Save Caller</a>
					</div>					
				</div>				
			</div>	
		</div> <!-- Row End -->
	
	
	</div>
	<div class="tab-pane" id="job_details">
		Job Details here
	</div>
	<div class="tab-pane" id="site_assessment">
		Site Assessment here
	</div>
	<div class="tab-pane" id="client">
		Client here
	</div>
	<div class="tab-pane" id="related_contacts">
		Related Contacts here
	</div>



</div> <!-- End Tabs Container -->