<h3>Editing the <span class="job_highlight">{{ job.last_name }}, {{ job.first_name }}</span> Job</h3>

<br />

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
    	<i class="icon-chevron-left"></i>
    	Back to Jobs    	
    </a>
    <ul class="nav">
      <li><a href="/#/job/{{ job.id }}/fnol">FNOL</a></li>
      <li class="active"><a href="#">Initial Inspection</a></li>
      <li><a href="/#/job/{{ job.id }}/zones" >Zones / Rooms</a></li>
      <li><a href="#">Validation</a></li>
    </ul>
  </div>
</div>


<h3>Initial Inspection</h3>