
<h4><a href="/#/job/{{ job.id }}/fnol">{{ job.last_name }}, {{ job.first_name }} Job</a></h4>


<h3 class="">Editing <span class="gray_highlight">{{ room.room_name }}</span></h3>
	<div class="pull-right">
		<a class="btn btn-danger">
			<i class="icon-remove icon-white"></i>
			Delete Room
		</a>
		<a class="btn btn-inverse">
			<i class="icon-share-alt icon-white"></i>
			Assign to Different Zone
		</a>	
	</div>


<h4>Zone:  {{ zone.zone_name }}</h4>

<p>Room Id: {{ room.room_id }}</p>
<p>Width: {{ room.width }}</p>
<p>Height: {{ room.height }}</p>



<div id="equipment_container" class="">
	<h2>Equipment List</h2>
		
	<div ng-repeat="item in room.equipment" class="equipment_box">
		<a href="/#/job/{{ job.id }}/zones/{{zone.zone_id}}/rooms/{{ room.room_id }}/equipment/{{ item.equipment_id }}" >			
			<img ng-show="item.type=='Dehumidifier'" src="/assets/dehu_icon.gif" />
			
			<img ng-show="item.type=='Air Mover'" src="/assets/air_mover_icon.gif" />							
			
			
			<p class="equipment_type">{{ item.type }}</p>
			<p class="equipment_model">{{ item.model }}</p>
		</a>
	</div>
	
	<div class="no_equipment_container" ng-hide="gotEquipment">
		<h3>There doesn't seem to be any equipment added to this <span class="gray_highlight">{{ room.room_name }}</span></h3>
		<span class="question">Would you like to add some?</span>
		<a class="btn btn-primary">
			<i class="icon-plus-sign icon-white"></i>
			Yes, add equipment to {{ room.room_name }}
		</a>
	</div>
	
	
	
</div>


<a class="btn btn-large" href="/#/job/{{ job.id }}/zones">Cancel</a>
<a class="btn btn-large btn-primary" href="/#/job/{{ job.id }}/zones/{{ zone.zone_id }}">Save Room Changes</a>


