
<h3>Editing the <span class="gray_highlight">{{ job.last_name }}, {{ job.first_name }}</span> Job</h3>

<br />


<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
    	<i class="icon-chevron-left"></i>
    	Back to Jobs    	
    </a>
    <ul class="nav">
      <li><a href="/#/job/{{ job.id }}/fnol">FNOL</a></li>
      <li><a href="/#/job/{{ job.id }}/initial_inspection">Initial Inspection</a></li>
      <li class="active"><a href="/#/job/{{ job.id }}/zones" >Zones / Rooms</a></li>
      <li><a href="#">Validation</a></li>
    </ul>
  </div>
</div>



<ul class="nav nav-pills" id="zones_tabs">
	<li class="active"><a href="#visual" data-toggle="tab">Visualization</a></li>  
	<li><a href="#list" data-toggle="pill">List View</a></li>
  
</ul>


<div class="tab-content">
	
	<div class="tab-pane active" id="visual">			
		<div class="well">	
			<a class="btn btn-primary btn-large pull-right">
				<i class="icon-plus icon-white"></i>
				Add Zone
			</a>
			<br/><br/>
			<div>				
				<div ui-jq="droppable" class="zone_box" ng-repeat="zone in zones">
					
					<div class="visual_zone_header">						
						<h4 class="pull-left">{{ zone.zone_name }}</h4><br />						
						<div class="visual_zone_controls pull-right">
							<a class="btn btn-inverse">
								<i class="icon-pencil icon-white"></i>
								Monitoring Data
							</a>
							<a class="btn btn-inverse">
								<i class="icon-check icon-white"></i>
								Validate
							</a>	
						</div>					
					</div>
					
					<div class="room_box_container">
						<div ng-repeat="room in zone.rooms" class="room_box">
							<a href="/#/job/{{ job.id }}/zones/{{zone.zone_id}}/rooms/{{ room.room_id }}" >
								{{ room.room_name }}
							</a>
						</div>
						<div class="add_room_button">
							<a href="/#/job/{{ job.id }}/zones/{{ zone.zone_id }}/rooms/new">
								<i class="icon-plus"></i>								
							</a>		
						</div>	
									
					</div>
					
					
				</div>								
			</div>			
		</div>			
	</div>	
	
	
	<div class="tab-pane" id="list">
		<table id="zones_table" class="table">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Zone Name</th>
		      <th>Width</th>
		      <th>Height</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="zone in zones">
		    	<td></td>
		    	<td>{{ zone.zone_name }}</td>
		    	<td>{{ zone.width }}</td>
		    	<td>{{ zone.height }}</td>    	
		    	<td>
		    		<a href="/#/job/{{ job.id }}/zones/{{zone.zone_id}}" class="btn" ng-click="getJob()">
		    			<i class="icon-pencil"></i>
		    			Edit
		    		</a>
		    	</td>
		    </tr>
		  </tbody>
		</table>
	</div>
	
	
	
	
</div>








<!-- <div class="well">
	<h3>Rooms</h3>
	<div ng-controller="ZonesRoomsController">	
		
		<div ui-jq="draggable" id="room{{ room.room_id }}" class="room_box" ng-repeat="room in rooms">{{ room.room_name }}</div>
		
	</div>
	<div class="clear_both"></div>
</div> -->











