/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

//@import 'bootstrap_custom/variables';

@import 'kendo.common.min.css';
//@import 'kendo.default.min.css';

$pill_green:  #62C462;


@import 'bootstrap';
@import 'bourbon';
@import 'angular-ui';


* {
  font-family: 'Open Sans', sans-serif;
}


html {
  height: 100%;
}

body {  
  height: 100%;
  //background: #e5e5e5;  
  
  background: url("/assets/gray_gradient_bg_1.png");
  
  img#mascots {
    position: absolute;
    top: 50px;
    left:-400px;
    z-index: -100;
    
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    //width: 100%; 
      
    /* Theoretically for IE 8 & 9 (more valid) */ 
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=10);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.1;
    
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.1;
      
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.1;
    
  }
  
}




.opacity {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    //width: 100%; 
      
    /* Theoretically for IE 8 & 9 (more valid) */ 
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=80);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.8;
    
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.8;
      
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.8;
}



#main.container {
  padding: 10px;
  background: #fff;
  //@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
  @include border-radius(5px);
}




h1,h2, h3, h4 {
  color: #666;
}


#drybook_header {  
  margin-top: 10px;
  
  
  img#servpro_logo{
    margin-top: 5px;
    height: 30px;
    width: auto;
    float: left;    
    margin-right: 5px;    
  }
  
  h2 {
    margin-top: 5px;
    font-family: 'Audiowide', cursive;
    font-size: 20px;
  }
    
}

#jobs_options_header {
  margin-bottom: 10px;
}



.job_highlight {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background:  #666;
}



.green_row {
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
  background: linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */

}


.nav-pills .active {
  a {
    background: $pill_green;
    
    &:hover {
      background: $pill_green;
    }    
  }   
}


.zone_box {
  padding: 5px;
  border: 1px solid #c2c2c2;
  margin: 10px;
  width: auto;
  height: 150px;
  background: #e0e0e0;
  color: #666;
  
  //@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
}


.room_box {
  //padding: 20px;
  margin: 10px;
  width: auto;
  height: auto;  
  font-size: 20px;
  color: #fff;
  float: left;
  
  background: rgb(238,118,0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,118,0,1) 0%, rgba(255,51,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,118,0,1)), color-stop(100%,rgba(255,51,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,118,0,1) 0%,rgba(255,51,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,118,0,1) 0%,rgba(255,51,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,118,0,1) 0%,rgba(255,51,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,118,0,1) 0%,rgba(255,51,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee7600', endColorstr='#ff3300',GradientType=0 ); /* IE6-9 */

  
  
  //@include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65));
  
  a {    
    display: block;
    padding: 20px;
    color: #fff;
  }
  
  &:hover {
    cursor: pointer;
  }
    
}

.clear_both {
  clear: both;
}



.btn-primary {  
  background: rgb(157,213,58); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
  
  &:active {    
    background: rgb(143,196,0); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(143,196,0,1) 0%, rgba(143,196,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,196,0,1)), color-stop(100%,rgba(143,196,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(143,196,0,1) 0%,rgba(143,196,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fc400', endColorstr='#8fc400',GradientType=0 ); /* IE6-9 */
  }    
}


#contact_information {
  .contact_boxes {        
    margin-bottom: 5px;
    background: #e5e5e5;
  
  }
    
  
  .contact_header {
    color: #fff;
    padding: 10px 20px;
    background: #666;
    margin-bottom: 10px;
  }
  
  
  
  .contact_view {
    padding: 20px;   
    height: 200px; 
    
      .view_group {
        margin-bottom: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #666;
        
      }
    
  }
  
  .contact_edit {
    padding: 20px;
    
  }
  
  h4 {    
    color: white;
  }
  
  
  
  .fnol_label {
    margin-right: 5px;
    font-size: 20px;
    //font-style: italic;
    font-weight: 200;
  }
  
  .fnol_data {
    
  }
  
  
}
















