<!DOCTYPE html>
<html ng-app="job_list_app">
<head>
  <title>DbPrototype</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  
  <link href='http://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
    <script>
    // The ieshiv takes care of our ui.directives and AngularJS's ng-view, ng-include and ng-pluralize.
    // However, IF you have custom directives (yours or someone else's) then
    // add the directly containing module into window.myAngularModules
 
    window.myAngularModules = [ 'job_list_apps' ]; // optional
    </script>
    <script src="/assets/angular-ui-ieshiv.js"></script>
<![endif]-->
  
</head>
<body>
	
	<img id="mascots" src="/assets/trucks_mascots_sketch_smaller.png" />
	
	<div id="drybook_header" class="container">
		<img id="servpro_logo" src="/assets/servpro_logo_small.png" /><h2>DryBook</h2>
	</div>

	<div id="main" class="container">
		<%= yield %>		
	</div>


</body>
</html>
