<!DOCTYPE html>
<html ng-app="job_list_app">
<head>
  <title>DbPrototype</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 8]>
    <script>
    // The ieshiv takes care of our ui.directives and AngularJS's ng-view, ng-include and ng-pluralize.
    // However, IF you have custom directives (yours or someone else's) then
    // add the directly containing module into window.myAngularModules
 
    //window.myAngularModules = [ 'yourModule.ThatContainsAtLeastSomeDirectives', 'somebodyElsesModule' ]; // optional
    </script>
    <script src="/assets/angular-ui-ieshiv.js"></script>
<![endif]-->
  
</head>
<body>
	
	<div class="container">
		<h2>DryBook</h2>
	</div>

	<div id="main" class="container">
		<%= yield %>		
	</div>


</body>
</html>
